@{
    ViewBag.Title = "401 Access Denied";
}

<div class="row">
    <div class="col-md-12 page-404">
        <div class="number">
            401
        </div>
        <div class="details">
            <h3>Oops! Access Denied.</h3>
            <p>
                Anda tidak berhak untuk mengakses halaman ini.<br />
                <a href="~/">
                    Kembali ke Dashboard.
                </a>
            </p>
        </div>
    </div>
</div>
